<%- include("header"); -%>

    <h1 class="aboutMe">About me</h1>
    <p class="aboutInfo">Hi, my name is Martin Lubenov. I am a student in the Technical Unversity - Sofia. <br>
        I am looking for an Internship in the field of front-end development. <br>
        Why front-end? I like to see how can a simple page of Html and CSS, can become <br>
        a little masterpiece.
    </p>

    <%- include("footer"); -%>